#serveur
C4A_server/node_modules/*
C4A_server/.idea/*



#android
C4A_android/Android/*.iml
C4A_android/Android/.gradle
C4A_android/Android/local.properties
C4A_android/Android/.idea/*
C4A_android/Android/.DS_Store
C4A_android/Android/build
C4A_android/Android/captures
C4A_android/Android/.externalNativeBuild