:local(.app) {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: aliceblue;
}

:local(.left_panel) {
    background-color: red;
    flex: 3;
    display: flex;
    flex-direction: column;
}

:local(.right_panel) {
    background-color: yellow;  
    flex: 1.5; 
}

:local(.grid) {
    flex: 3;
    overflow: hidden;   
    position: relative;
    height: 100%;
}

:local(.description) {
    flex: 1.3;
}

:local(.grid_content) {
    overflow: auto;   
    background-color: darkslategrey;
    height: 100%;
}