@font-face {
    font-family: 'lfl';
    font-style: normal;
    src: url('/lfl.ttf') format("opentype");
}

:local(.class) {
    background-color: gray;
    height: 100%;
}

:local(.class_details) {
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

:local(.classroom_infos) {
    flex: 0.3;
}

:local(.grid_persons) {
    padding-top: 1%;
    padding-left: 2%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 60px;
    grid-auto-rows: minmax(120px, 120px);
}

:local(.professors_infos) {
    flex: 1.7;
}

:local(.students_infos) {
    flex: 3;
}

:local(.posts) {
    height: 100%;
    width: 100%;
    position: relative;
}

:local(.avatar) {
    width: 40%;
    height: auto;
    background-color: aliceblue;
    border-radius: 90px;
    padding: 5px;
    position: absolute;
    left: 30%;
    top: 10%;
}

:local(.person) {
    position: relative;
}

:local(.name) {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 60%;
    font-family: lfl;
    font-size: 1.8vw !important;
    transform: rotate(3deg);
    font-weight: bold;
}

:local(.button_wrapper) {
    width: 100%;
    height: auto;
    cursor: pointer;
}

:local(.button_wrapper):hover {
    filter: drop-shadow(2px 1px 2px white);
}

:local(.wrapper) {
    display:inline-block;
    width: 2%;
}

:local(.search_person) {
    flex: 1;
    padding-bottom: 2%;
    padding-left: 20%;
    padding-right: 20%;
}

:local(.found_persons) {
    flex: 5;
}

:local(.added_persons) {
    flex: 5
}

.add_persons_modal .ant-modal {
    width: 60% !important;
    height: 76% !important;
    top: 12% !important;
    padding: 0 !important;
}

.add_persons_modal .ant-modal-content {
    height: 100% !important;
}

.add_persons_modal .ant-modal-header {
    height: 10% !important;
}

.add_persons_modal .ant-modal-body {
    height: 78% !important;
}

.add_persons_modal .ant-modal-footer {
    height: 10% !important;
}

:local(.search_add_form) {
    height: 100%;
    display: flex !important;
    flex-direction: column !important;
}

:local(.search_add_form) h3 {
    color: black !important;
}