@font-face {
    font-family: 'lfl';
    font-style: normal;
    src: url('/lfl.ttf') format("opentype");
}

:local(.class) {
    background-color: gray;
    height: 100%;
    display: flex;
    flex-direction: row;
}

:local(.note) {
    padding-left: 20%;
    width: 80%;
    margin-top: 3%;
    filter: drop-shadow(2px 1px 2px black);
}

:local(.exercice) {
    position: relative;
}

:local(.exercice_infos) {
    position: absolute;
    bottom: 2vh;
    left: 0;
    font-family: lfl;
    font-size: 1vw !important;
    width: 45%;
    margin-left: 30%;
    transform: rotate(0.8deg);
}

:local(.delete_exo_button) {
    width: 3%;
    bottom: 4vh;
    right: 0;
    margin-right: 25%;
    position: absolute;
    cursor: pointer;
}

:local(.launch_exo_button) {
    width: 3%;
    bottom: 4vh;
    right: 0;
    margin-right: 25%;
    position: absolute;
    cursor: pointer;
}


:local(.class_details) {
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 2;
}

:local(.exercices_details) {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

:local(.exercice_detail) {
    flex: 1;
    border-left: 3px solid white;
    overflow-y: auto;
}

:local(.empty) {
    flex: 0.03
}

:local(.classroom_infos) {
    flex: 0.3;
}

:local(.grid_persons) {
    padding-top: 2vh;
    padding-left: 2vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 3vw;
    grid-auto-rows: minmax(17vh, 17vh);
}

:local(.min_grid_persons) {
    padding-top: 2vh;
    padding-left: 2vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3vw;
    grid-auto-rows: minmax(17vh, 17vh);
}

:local(.tiny_grid_persons) {
    padding-top: 2vh;
    padding-left: 2vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2.5vw;
    grid-auto-rows: minmax(17vh, 17vh);
}

:local(.professors_infos) {
    flex: 1.7;
}

:local(.students_infos) {
    flex: 3;
}

:local(.posts) {
    height: 100%;
    width: 100%;
    position: relative;
}

:local(.avatar) {
    width: 32%;
    height: auto;
    background-color: aliceblue;
    border-radius: 90px;
    padding: 5px;
    position: absolute;
    left: 35%;
    top: 8%;
}

:local(.delete_button) {
    width: 10%;
    top: 9%;
    right: 9%;
    position: absolute;
    cursor: pointer;
}

:local(.person) {
    position: relative;
    overflow: hidden;
    filter: drop-shadow(1px 1px 1px black);

}

:local(.name) {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
    font-family: lfl;
    font-size: 1.6vw !important;
    transform: rotate(2.6deg);
    font-weight: bold;
}

:local(.email) {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 70%;
    font-family: lfl;
    font-size: 0.8vw !important;
    transform: rotate(2.6deg);
    font-weight: bold;
}

:local(.button_wrapper) {
    width: 100%;
    height: auto;
    cursor: pointer;
}

:local(.button_wrapper):hover {
    filter: drop-shadow(2px 1px 2px white);
}

:local(.wrapper) {
    display:inline-block;
    width: 1.5vw;
    margin-left: 0.6vw;
}

:local(.search_person) {
    flex: 1;
    padding-bottom: 0.5%;
    padding-left: 20%;
    padding-right: 20%;
}

:local(.found_persons) {
    flex: 5;
    display: flex;
    flex-direction: column;
}

:local(.added_persons) {
    flex: 5;
    display: flex;
    flex-direction: column;
}

:local(.container_persons) {
    width: 100%;
    overflow-y: auto;
    flex: 5;
}

:local(.container_exos) {
    width: 100%;
    overflow-y: auto;
    flex: 5;
}

h3 {
    flex: 1;
}

.add_persons_modal .ant-modal {
    width: 60% !important;
    height: 90% !important;
    top: 5% !important;
    padding: 0 !important;
}

.add_exercices_modal .ant-modal {
    width: 40% !important;
    height: 55% !important;
    top: 15% !important;
    padding: 0 !important;
}

.add_persons_modal .ant-modal-content {
    height: 100% !important;
}

.add_exercices_modal .ant-modal-content {
    height: 100% !important;
}

.add_persons_modal .ant-modal-header {
    height: 10% !important;
}

.add_exercices_modal .ant-modal-header {
    height: 12% !important;
}

.add_persons_modal .ant-modal-body {
    height: 78% !important;
    padding: 10px !important;
}

.add_exercices_modal .ant-modal-body {
    height: 76% !important;
    padding: 10px !important;
}

.add_persons_modal .ant-modal-footer {
    height: 10% !important;
}

.add_exercices_modal .ant-modal-footer {
    height: 12% !important;
}

:local(.search_add_form) {
    height: 100%;
    display: flex !important;
    flex-direction: column !important;
}

:local(.add_form_exercice) {
    height: 100%;
    display: flex !important;
}

h3 {
    color: black !important;
}

:local(.container_exos) :local(.note) {
    padding-left: 10%;
    width: 90%;
    margin-top: 1%;
    filter: drop-shadow(0px 1px 0px black);
    cursor: pointer;
}

:local(.container_exos) :local(.exercice_infos) {
    position: absolute;
    bottom: 1.2vh;
    left: 0;
    font-family: lfl;
    font-size: 1vw !important;
    width: 55%;
    margin-left: 25%;
    transform: rotate(0.8deg);
    cursor: pointer;
}